@media all and (min-width: 400px) and (max-width: 600px){
	.main-block1-banner {
	    height: 170px;
	    span {
		    font-size: 0.9em;
		}
		ul {
			margin: -30% 58%;
		    font-size: 0.7em;
		}
	}
	.main-block1-form { 
    	height: 245px;
    	width: 80%;
	    margin-left: 10%;
	    margin-top: 1%;
	    &-header{
	    	height: 65px;
	    	img {
			    width: 28%;
			}
			span{
				margin-top: -75px;
			}
	    }
    	
		&-body {
		    height: 180px;
		}
	}
	.main-block2-stats{
		width: 30%;
		span{
			width: 100%;
		}
		& > .orange-btn{
			width: 85%;
		}
	}
	.main-block5-price{
		font-size: 1.1em;
	}
	.main-block5-one > li {
	    height: 601px;
	}
	.main-block6-text {
		width: 71% !important;
    	padding-right: 0;
    	font-size: 1.2em;
	}
	.main-block10 button {
	    width: 54%;
	}

	.main-block11 > button {
	    width: 55%;
	}
	footer{
		text-align: center;
		.btn{
			height: 40px;
			margin: 0 auto;
			display: block;
		}
	}
}